
<h1>TERMS OF USE</h1>
<p>In this Web Site Terms of Use (“TOU”), we, IPS Group, Inc. (“IPS”) set forth the terms by which you may use our sites including <a href="http://www.myparkingreceipt.com">www.myparkingreceipt.com</a>, <a href="http://www.ipsgroupinc.com">www.ipsgroupinc.com</a> and other web sites that we operate and on which we post a direct link to this statement (collectively the “Site”). By using the Site, you are agreeing to this TOU. If you do not agree to this TOU, you may not and should not use the Site.</p>

<h2>1.	Copyright Notice and Use of the Site.</h2>
<p>The contents of the Site are protected by the copyright and other laws of the United States, its treaty countries and other jurisdictions. Except as may otherwise be provided in a written Agreement you have withIPS, you may not modify, copy, reproduce, republish, upload, post, transmit, transfer, or distribute in any way any of the contents of this site. You may download content from this site solely for your personal, non-commercial use (except as may otherwise be provided in a written agreement you have with IPS), provided you keep intact all copyright and other proprietary notices. Any copies of the content must include IPS’s copyright notice: © Copyright 2005-2016 IPS Group, Inc. All rights reserved.</p>
<p>If you elect to use this site, you may incur expenses from your network carrier. You acknowledge and herby agree that you will be solely responsible for such expenses.</p>

<h2>2.	Links.</h2>
<p>This website may contain links to third party web sites which are controlled and operated by third parties. Your use of each third party web site is subject to the terms of use and other guidelines, if any, contained within the relevant web site. You agree to review and accept such terms of use prior to using such third party web sites. IPS makes no representations whatsoever about any third party web site which you may access through the website. When you access a third party web site, you agree that it is independent from IPS, and that IPS has no control over any content on that web site. In addition, a link to a third party web site does not mean that IPS accepts any responsibility for the content, or the use, of such web site. It is up to you to take precautions to ensure that whatever you select for your use is free of such items as viruses, worms, trojans and other items of a destructive nature.</p>

<h2>3.	Privacy.</h2>
<p>In order to operate and provide the Site, we collect certain information about you. Our practices with respect to the information we collect is described in our privacy policy which is available at <a href="http://www.ipsgroupinc.com/privacy/">http://www.ipsgroupinc.com/privacy/</a> (“Privacy Policy”). By agreeing to this TOU you are agreeing to our Privacy Policy. Information, including but not limited to personal information, collected through the Site may be stored and processed in the United States or any other country in which IPS or its affiliates, subsidiaries or agents maintain facilities. By using the service, you consent to any such transfer of information outside of your country.</p>

<h2>4.	Disclaimer.</h2>
<p>The materials on the Site are provided “as is” and without warranties of any kind either express or implied. Commentary and other materials posted on the Site are not intended to amount to advice on which reliance should be placed and we therefore disclaim all liability and responsibility arising from any such reliance. To the fullest extent permissible pursuant to applicable law, IPS disclaims all warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose, title and non-infringement and any other conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity. IPS does not warrant that the Site or functions contained in the materials will be uninterrupted or error-free, that defects will be corrected, or that the Site, or the server that makes it available, are free of viruses or other harmful components. IPS does not warrant or make any representations regarding the use or the results of the use of the materials on the Site in terms of correctness, accuracy, timeliness, reliability, or otherwise. You (and not IPS or its licensors) assume the entire cost of all necessary maintenance, repair, or correction.</p>
<p>You agree irrevocably that, should you incur any loss or damage, whether direct or indirect, from the use of this site, you waive any such claim and indemnify us from any claim made against us arising from your use of the site. You agree that such waiver will include a waiver of any claim you may have against us even if such claim arises from our negligence or fault.</p>

<h2>5.	Limitation of liability.</h2>
<p>Under no circumstances, including, but not limited to, negligence, shall IPS, its subsidiaries and parent companies and affiliates be liable for any direct, indirect, incidental, special or consequential damages that arise or result from or are related to the use of, or the inability to use, the Site or any of the Postings made available on or through the Site. Under no circumstances shall IPS’s aggregate liability exceed $5.00. You specifically acknowledge and agree that IPS, its subsidiaries and parent companies and affiliates are not liable for any defamatory, offensive or illegal conduct of any user of the Site or any posting to the Site. If you are dissatisfied with the Site or any materials made available by or through the Site, or with this TOU, your sole and exclusive remedy is to discontinue using the Site.</p>

<h2>6.	Notices of copyright infringement.</h2>
<p>
    Notifications of claimed copyright infringement should be sent to IPS’s Designated Agent in writing at the following address:
    <address>
        IPS Group Inc
        5601 Oberlin Drive Suite 100<br />
        San Diego, CA 92121<br />
        Telephone Number of Designated Agent: (858) 634-2083<br />
        Facsimile Number of Designated Agent: (858) 404-0603<br />
        Email Address of Designated Agent: legal@ipsgroupinc.com<br />
    </address>
    To be effective, the Notification must include the following:
    <ul>
        <li>A physical or electronic signature of the owner whose exclusive right is allegedly infringed or a person authorized to act on his or her behalf;</li>
        <li>Identification of the copyrighted work claimed to have been infringed, or if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</li>
        <li>Identification of the material that is claimed to be infringing or is the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit IPS to locate the material on the Site;</li>
        <li>Information reasonably sufficient to permit IPS to contact the copyright owner or his/her authorized agent including an address, telephone number, and if available, an electronic mail address;</li>
        <li>A statement that the copyright owner or authorized agent has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law;</li>
        <li>
            A statement that the information in the notification is accurate, and if submitted by the owner’s authorized agent a statement under penalty of perjury, that the agent is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. Within a commercially reasonable time after receipt of the written Notification containing the information as outlined in 1 through 6 above IPS shall remove or disable access to the material that is alleged to be infringing and forward the written notification to the alleged infringer and take reasonable steps to promptly notify the alleged infringer that IPS has removed or disabled access to the allegedly infringing material. Counter Notification: To be effective, a Counter Notification must be a written communication provided to IPS’s Designated Agent at the above provided address that includes substantially the following:
            <ul>
                <li>A physical or electronic signature of the alleged infringer;</li>
                <li>Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;</li>
                <li>A statement under penalty of perjury that the alleged infringer has a good faith belief that the material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled;</li>
                <li>
                    The alleged infringer’s name, address, and telephone number, and a statement that the alleged infringer consents to the jurisdiction of Federal District Court for San Diego County, California, or if the Subscriber’s address is outside of the United States, for any judicial district in which IPS may be found, and that the alleged infringer will accept service of process from the person who provided notification or an agent of such person.<br />
                    After receipt of a Counter Notification containing the information as outlined in 1 through 4 above, IPS shall provide the Complaining Party with a copy of the Counter Notification within a commercially reasonable time and inform the copyright owner or designated agent that IPS will replace the removed material or cease disabling access to it within ten (10) business days. If IPS’s designated agent has not received notice from the copyright owner or his/her designated agent within ten (10) business days that an action has been filed seeking a court order to restrain the alleged infringer from engaging in infringing activity in relation to the allegedly infringing material, IPS shall restore the allegedly infringing material.
                </li>
            </ul>
        </li>
    </ul>
</p>

<h2>7.  EXPORT RESTRICTIONS.</h2>
<p>ANY SOFTWARE OR OTHER MATERIALS WE MAKE AVAILABLE ON THE SITE ARE SUBJECT TO UNITED STATES EXPORT LAWS AND REGULATIONS. YOU MUST COMPLY WITH ALL DOMESTIC AND INTERNATIONAL EXPORT LAWS AND REGULATIONS THAT APPLY TO THE SOFWARE OR OTHER MATERIALS YOU OBTAIN FROM OUR SITE. THESE LAWS INCLUDE RESTRICTIONS ON DESTINATIONS, END USERS AND END USE.</p>

<h2>8.  Export Compliance Assurances.</h2>
<p>You acknowledge that all products, proprietary data, know-how, software or other data or information (herein referred to as “Products”) obtained from IPS or any direct Product thereof are subject to the United States (U.S.) government export control laws accordingly their use, export and re-export, may be restricted or prohibited. You and your affiliates agree to obtain prior to export an authorization from the applicable U.S. government agency (either in writing or as provided by applicable regulation). These U.S. government restrictions are implemented principally through the Export Administration Regulations (“EAR”, 15 C.F.R. §§ 730 et seq., available at <a href="http://www.bis.doc.gov/">http://www.bis.doc.gov/</a>) administered by Department of Commerce, Bureau of Industry and Security and the Foreign Asset Control Regulations administered by the Department of Treasury, Office of Foreign Assets Control (“OFAC”, 30 C.F.R. Part 500 et. Seq. available at <a href="http://www.treas.gov/offices/enforcement/ofac/">http://www.treas.gov/offices/enforcement/ofac/</a>). You, therefore, agree that neither you nor your subsidiaries or affiliates will directly or indirectly export, re-export, transfer, or release, or cause to be exported or re-exported (herein referred to as “export”), any such Products or any direct Product thereof to any destination or entity prohibited or restricted under U.S. law including but not limited to U.S. government embargoed or sanctioned countries or entities, or nationals unless you shall obtain prior to export an authorization from the applicable U.S. government agency (either in writing or as provided by applicable regulation). You further agree that no Products received from IPS will be directly or indirectly employed in missile technology, sensitive nuclear, or chemical biological weapons end uses or in any manner transferred to any party for any such end use. This requirement shall survive any termination or expiration of this Agreement.</p>

<h2>9.  Trademarks.</h2>
<p>IPS Group Logo and My Parking Receipt are a trademark ofIPS. Certain other product names, brand names and company names mentioned in this site may be trademarks of their respective owners.</p>

<h2>10.  Modification & Termination.</h2>
<p>This TOU is effective until modified or terminated by IPS. IPS may modify this TOU from time to time and the new TOU will be effective when posted. IPS may also terminate this TOU at any time without notice to you. In the event of termination, you are no longer authorized to access the Site and the restrictions imposed on you with respect to material downloaded from the Site, the disclaimers and limitations of liabilities, and export restrictions set forth in this agreement, shall survive.</p>

<h2>11.  General.</h2>
<p>This TOU shall be governed by and construed in accordance with the laws of the State of California without giving effect to any principles or conflicts of law. If any provision of this TOU shall be unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from this agreement and shall not affect the validity and enforceability of any remaining provisions.</p>

<h2>Effective:</h2>
<p>March 29, 2016</p>
